*.bak
*.o
*.user.*
*.user
*.suo
*.sln
*.sdf
*.opensdf
ui_qdlg*.h
.qmake.stash
.DS_Store
Makefile
Makefile.Debug
Makefile.Release
libsimExtDynamicsBullet-2-78.1.0.0.dylib
libsimExtDynamicsBullet-2-78.1.0.dylib
libsimExtDynamicsBullet-2-78.1.dylib
libsimExtDynamicsBullet-2-78.dylib
libsimExtDynamicsBullet-2-78.so
libsimExtDynamicsBullet-2-78.so.1
libsimExtDynamicsBullet-2-78.so.1.0
libsimExtDynamicsBullet-2-78.so.1.0.0
libsimExtDynamicsBullet-2-83.1.0.0.dylib
libsimExtDynamicsBullet-2-83.1.0.dylib
libsimExtDynamicsBullet-2-83.1.dylib
libsimExtDynamicsBullet-2-83.dylib
libsimExtDynamicsBullet-2-83.so
libsimExtDynamicsBullet-2-83.so.1
libsimExtDynamicsBullet-2-83.so.1.0
libsimExtDynamicsBullet-2-83.so.1.0.0
libsimExtDynamicsOde.1.0.0.dylib
libsimExtDynamicsOde.1.0.dylib
libsimExtDynamicsOde.1.dylib
libsimExtDynamicsOde.dylib
libsimExtDynamicsOde.so
libsimExtDynamicsOde.so.1
libsimExtDynamicsOde.so.1.0
libsimExtDynamicsOde.so.1.0.0
libsimExtDynamicsNewton.1.0.0.dylib
libsimExtDynamicsNewton.1.0.dylib
libsimExtDynamicsNewton.1.dylib
libsimExtDynamicsNewton.dylib
libsimExtDynamicsNewton.so
libsimExtDynamicsNewton.so.1
libsimExtDynamicsNewton.so.1.0
libsimExtDynamicsNewton.so.1.0.0
debug
release
release_bullet2_78
release_bullet2_83
release_newton
release_vortex
release_ode
object_script.*.Debug
object_script.*.Release
build-*

